body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 19px;

}

.bg-img{
  max-width: 80%;
    width: 75%;
    display: block;
    margin: auto;
}

.center{
  text-align: center;
}
.nodecoration{
  color: rgb(12, 232, 248);
  text-decoration: none;
}

/*new*/


.card {
  display: block;
  margin: 22px;
  border: 2px solid black;
  background-color: black;
  box-shadow: 5px 10px 8px #888888;
  color: white;
  height: 455px;
  text-align: center;
}

.nodecoration {
  text-decoration: none;
}

.mt-100 {
  margin-top: 114px;
}

.navbar {
  background-color: #0f5840;
}

.card-img-top {
  height: 150px;
  width: 150px;
}
.card:hover{
  border-color: #fff;
  box-shadow: 0px 0 25px 12px rgba(65, 147, 255, 0.3);
}