
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <title>Resources</title>
    <link rel="icon" href="static/img/logo.jpeg" type="image/jpeg">
    
    <style>
  @import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Newsreader:wght@500&display=swap");

  .heading{
    font-family: 'Newsreader', serif;
  }
  .para{
    font-family: 'Lora', serif;
    }
  :root {
      --primary-color: #0f5840;
  }
body {
  margin: 0;
  padding: 0;
  font-size: 19px;
 color: black;
}

.bg-img{
  max-width: 80%;
    width: 75%;
    display: block;
    margin: auto;
}

.center{
  text-align: center;
}
.nodecoration{
  color: rgb(58, 84, 85);
  text-decoration: none;
}

/*new*/


.nodecoration {
  text-decoration: none;
}

.mt-100 {
  margin-top: 114px;
}
.navbar{
  background-color: var(--primary-color);;
  font-size: 25px;
  color: white;
}
section{
    padding: 24px 23px;
}
.bg-img{
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.grey {
    background-color:  #F3F4F6;
}
.bold{
    font-weight: bold;
}
.big{
  font-size: 20px;
}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark heading fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Explore Now</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
             
    
            </ul>
    
          </div>
        </div>
      </nav>
    <header class="mt-100">
        <img class="bg-img mt-100" src="{{ url_for('static', filename='img/webdev.svg') }}" />
        
    </header>

    <section class="section grey mt-100">
        <h3 class="heading">Website Development includes two parts:-</h3>
        <details>
          <summary class="big heading">Frontend Development</summary>
          <p class="para">Frontend Development, that is developing the visible part of a website, which users actually see and
            perform
            user actions as available on the website.
          </p>
        </details>
        <details>
        <summary class="big heading">How to learn?</summary>
        
        <ol>
          <li class="heading">HTML
            <ul>
              <li class="para"><a href="https://www.w3schools.com/html/default.asp" class="nodecoration">Read, Practice and Learn
                  HTML</a></li>
              <li class="para"><a href="https://www.coursera.org/specializations/web-design" class="nodecoration">HTML course for
                  beginners</a></li>
            </ul>
          </li>
          <li class="heading">CSS
            <ul>
              <li class="para"><a href="https://www.w3schools.com/css/default.asp" class="nodecoration">Read, Practice and Learn CSS
                </a></li>
            </ul>


            <p class="para">Once you get a basic idea of HTML and CSS. Do a little project to get hands-on with what you have learnt.
              A few guided projects are as here.
            </p>
            <a class="heading" href="https://www.youtube.com/watch?v=Sj5NX_br5WY" class="nodecoration display center"><strong> A Gym
                Website using HTML, CSS</strong>
            </a>
            <a  class="heading" href="https://www.youtube.com/watch?v=lKNrkB6Kmgc"
              class="nodecoration display center"><strong>Transparent Form using HTML, CSS</strong>
            </a>
          </li>
          <li class="heading">JS
            <ul>
              <li class="para"><a href="https://www.w3schools.com/js/default.asp" class="nodecoration">Read, Practice and Learn Js
                </a></li>
              <li class="para"><a href="https://www.youtube.com/playlist?list=PLu0W_9lII9ajyk081To1Cbt2eI5913SsL"
                  class="nodecoration">Video Tutorials with projects
                </a></li>
            </ul>
          </li>
        </ol>
        </a>
        <p class="para"><strong>Learn all of the three above languages at one place. &ensp;</strong><a
            href="https://www.youtube.com/playlist?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" type="button"
            class="btn btn-light">Click Here</a></p>
        <section>
        </details>
          <h2 class="heading">Frontend Frameworks</h2>
          <details>
            <summary>What is a software framework ?</summary>
            <p class="para">A software framework is an abstract or concrete framework under which software providing generic
              functionality can be selectively changed by additional user-written code, thus providing
              application-specific software.</p>

          </details>
          <ol>
            <li class="para">Angular- Angular is a TypeScript-based open-source web application framework led by the Angular Team at
              Google and by a community of individuals and corporations. Angular is a complete rewrite from the same
              team that built AngularJS<br>
              <a href="https://www.coursera.org/learn/angular" class="bold nodecoration">Complete Angular Course

              </a>
            </li>
            <li class="para">React- React is an open-source, front end, JavaScript library for building user interfaces or UI
              components. It is maintained by Facebook and a community of individual developers and companies. React can
              be used as a base in the development of single-page or mobile applications.<br>
              <a href="https://www.coursera.org/learn/front-end-react" class="bold nodecoration">Fron-end web dev with react

              </a>
            </li>
          </ol>
    </section>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
-->
    
</body>
</html>